 body {
            display: flex;
            justify-content: center;
        }
        .container {
            width: 600px;
            display: grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            height: 60px;
            margin-top: 200px;
        }
        .container div {
            border:1px solid gray;
            padding: 20px;
            font-family: Arial;
            font-size: 30px;
            color:gray;
        }